*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 5px 3px 6px;
    border-radius: 10px;
}
body {
    background-color: #ccc;
}
.tittle_small {
    font-size: 22px;
}
.form_container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-size: 15px;
}
input, select, textarea {
    padding: 6px 10px;
}
input:focus{
    outline-color: rgb(20, 82, 163);
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    padding: 5px 10px;
    border-radius: 8px;
    background-color: RGB(31, 104, 222);
    color: white;
    transition: 0.2s ease-in;
}
button:hover{
    background-color: #ccc;
    transition: 0.2s ease-out;
    cursor: pointer;
}
#address{
    grid-column: 1 / span 2;
}

@media (max-width:460px ){
    #address {
        grid-column: 1 / span 1;
    }
};